<!--Header komponent med meny-->
<header>
    <a routerLink="/home"><img src="assets/metrix_icon.png" alt="sidan huvud ikon" id="main-icon"></a>
    <!--Centrerar kategorivalen-->
    <nav class="center">
        <ul>
            <li><a routerLink="/home" routerLinkActive="bold" class="meny-btn">Hem</a></li>
            <li><a routerLink="/convert" routerLinkActive="bold" class="meny-btn">Konvertera</a></li>
            <li><a routerLink="/about" routerLinkActive="bold" class="meny-btn">Om sidan</a></li>
        </ul>
    </nav>
</header>