* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: left;
    color: white;
    margin-top: 20px;
    margin-left: 40px;
    display: inline-block;
}

/*centreringsdiv till meny-knapparna*/
.center {
    margin-left: auto;
    margin-right: auto;
    width: 335px;
    max-width: 100%;
}

/*för menyknappar för att visa aktiv sida*/
.bold {
    font-weight: 700;
}

/*"tar bort" styling vid besökta länkar i navigeringen*/
nav a:visited {
    color: white;
}

nav {
    position: relative;
    top: 15px;
}

#main-icon {
    position: absolute;
    width: 150px;
    top: 10px;
    left: 30px;
    cursor: pointer;
}

nav a {
    text-decoration: none;
}

/*menu ul*/
nav ul {
    padding-left: 0;

    list-style-type: none;
}

nav li {
    display: inline-block;
}

/*Meny-knappar*/
.meny-btn {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    display: inline-block;
    color: white;
    font-size: 1.1em;
}

/*Meny-knappar*/
.meny-btn:hover {
    color: white;
    //background-color: rgba($color: #ffffff, $alpha: 0.2);
    cursor: pointer;
    text-decoration: underline;
}

header {
    background-color: rgb(60, 60, 174);
    width: 100%;
    max-width: 100%;
    height: 80px;
}

/*Media querie för små skärmar*/
@media screen and (min-width: 350px) and (max-width: 800px) {
    header {
        height: 120px;
    }

    .center {
        padding-top: 50px;
    }
}

/*Media querie för extra små skärmar*/
@media screen and (max-width: 350px) {

    header {
        height: 120px;
    }

    /*centreringsdiv till meny-knapparna*/
    .center {
        width: 275px;
        padding-top: 50px;
    }

/*Meny-knappar*/
.meny-btn {
        padding: 10px;
    }
}