//Styling av footer
footer {
    height: 35px;
    background-color: rgb(60, 60, 174);
    bottom: 0;
    position: fixed;
    width: 100%;
    max-width: 100%;
    text-align: center;
    color: white;
}

#footer-img {
    width: 100px;
    padding-top: 5px;
}