
main {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}


p {
    margin: 5px;
}

article {
    width: 600px;
    max-width: 100%;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
}

ul {
    margin-top: 35px;
    margin-bottom: 35px;
}

li {
    margin-bottom: 5px;
}