
main {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}


p {
    margin: 5px;
}

//Avsmalnad och centrering av article
article {
    width: 600px;
    max-width: 100%;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
}