<!--Startsidans komponent-->
<div id=hero-div><img src="assets/img/frontpage1.jpg" id="hero-img" alt="Bild på en miniräknare"></div>
<main>
    <article>
        <h1>Angular</h1>
        <p>Den här webbplatsen är en exempelwebbplats utvecklad i Angular och är ett delmoment i kursen DT208G - Programmering i TypeScript. 
            Förutom startsidan har den två undersidor,
            ena innehåller en enhetsomvandlare och den andra innehåller information om webbplatsen.</p>
    </article>
</main>